.button a{
    color: var(--textLight);
    text-decoration: none;
    font-size: medium;
    font-weight: bold;

    padding: 10px;
    border-radius: 5px;
    border: 0; 
}

#regularButton{
    background-color: var(--mainAccent);
}

#dangerButton{
    background-color: var(--dangerAccent);
}