.category {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    border: 0; 
}

.subCategory {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    padding: 10px;
    background-color: var(--mainBackground);
    border: 0px;
    border-radius: 10px;
}

.categoryItem {
    color: var(--textLight);
    text-decoration: none;
    font-size: large;
    font-weight: bold;

    padding: 0px 20px 0px 20px;
    margin: 10px;
    border-radius: 5px;
    border: 0; 
    height: 10vh;
    min-width: 120px;
    width: 10vw;
    text-align: center;
    align-content: center;

    background-color: var(--secondaryAccent);
}