#navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

ul {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    background-color: var(--mainBackground);
    width: 100%;
    margin: 0;
    padding: 0;
}

li {
    width: fit-content;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

#logoImage {
    height: 40px;
    margin-right: 10px;
}

#logo {
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: bold;
    text-decoration: none;
    color: var(--mainAccent);
}

#left {
    margin-right: auto;
}