.externalLogin {
   display: flex;
   flex-direction: column;
   width: 100%;
   align-items: center;
   justify-content: center;
}

.externalLogin * {
   width: 100%;
   display: flex;
   justify-content: center;
   margin-bottom: 5px;
}

.seperator {
   width: 100%; 
   text-align: center; 
   border-bottom: 2px solid var(--mainAccent); 
   line-height: 0.1em;
   margin: 10px 0 20px; 
 } 
 
 .seperator span { 
   background: white; 
   padding:0 10px; 
 }

 .changeButtons {
   display: flex;
   flex-direction: row;
   width: 100%;
   height: fit-content;
   align-items: center;
   justify-content: center;
   border-bottom: 2px solid var(--mainAccent);
 }

 .changeButtons * {
   width: 100%;
   display: flex;
   justify-content: center;
 }

 .changeLeftLogin * * {
   border-radius: 5px 0px 0px 0px !important;
 }

 .changeRightLogin * * {
   background-color: var(--mainBackground) !important;
   color: var(--mainAccent) !important;
   border-radius: 0px 5px 0px 0px !important;
 }