.posting {
    background-color: var(--secondaryAccent);
    padding: 10px 10px 0px 10px;
    margin: 10px;
    border: 0px;
    border-radius: 10px;
    width: 15vw;
}

#content {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    background-color: var(--secondaryAccent);
}

#itemImage {
    width: 15vw;
    height: 15vw;
    object-fit: cover;
    background-color: var(--mainBackground);
    border: 0px;
    border-radius: 10px;
}

#itemPrice {
    color: var(--textLight);
    font-size: large;
    align-self: baseline;
    padding: 5px;
    margin-bottom: -30.4px;
    z-index: 200;
    border: 0px;
    border-radius: 10px;
    background-color: black;
}

#itemName {
    color: var(--textLight);
    margin-top: 10px;
    margin-bottom: 10px;
    width: 15vw;
    word-wrap: break-word;

}

#actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: solid 2px var(--mainBackground);
}

#view {
    margin: 5px;
    padding: 5px;
    color: var(--textLight);
}

#edit {
    margin: 5px;
    padding: 5px;
    color: var(--textLight);
}

#delete {
    margin: 5px;
    padding: 5px;
    color: var(--textLight);
}