.searchbar form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 5px;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

#searchInput {
    color: var(--mainAccent);
    text-decoration: none;
    font-size: large;
    font-weight: bold;

    width: 50vw;
    padding: 10px;
    border: 0;
    border-radius: 5px 0px 0px 5px;
}

#searchInput:focus {
    outline: none;
}

#regionInput {
    color: var(--textLight);
    text-decoration: none;
    font-size: large;
    font-weight: bold;

    width: fit-content;
    padding: 9.6px;
    border: 0;
    border-radius: 0px 5px 5px 0px;
    background-color: var(--secondaryAccent);
}

#regionInput:hover {
    cursor: pointer;
}

#regionInput:focus {
    outline: none;
}

#searchButton {
    color: var(--textLight);
    text-decoration: none;
    font-size: large;
    font-weight: bold;

    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 0; 
    background-color: var(--mainAccent);
}

#searchButton:hover {
    cursor: pointer;
}