.searchPage {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.searchResultsContainer {
    margin: 10px;
    height: fit-content;
}

.searchResults {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}